@model LibraryMVCAPP.Models.UserType

@{
    ViewBag.Title = "Details";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Add User Type</h6>
    </div>

    <div class="card-body">
        <dl class="dl-horizontal">
            <dt>
               <label>Usertype</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserType1)
            </dd>

        </dl>
    </div>
    </div>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.UserTypeID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
